<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Delete Page</title>
    <script src="jquery.js"></script>
    <script src="deleteScript.js"></script>
</head>
<body>
    <form method="POST" action="/admin/delete">
        <h4>Search Details</h4>
        <input type="text" id="flightId" name="flightId" placeholder="Flight ID">
        <input type="submit" id="submit"> 
    </form>
</body>
</html>