/*---------------------------------------------------------Navbar Styling------------------------------------------------------*/

.navbar {
  background-color: rgba(8, 8, 8, 0.945);
  font-family: Verdana;
}

.navbar-nav {
  text-align: right;
}

.bar {
  padding-right: 10px;
  text-decoration: underline;
}


nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: #aaa;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 10px;
}
.username {
  padding-top:0.5em;
  display: block;
  text-decoration: none;
  color: #aaa;
  font-weight: 500;
  text-transform: uppercase;
  margin: 0 10px;
}
nav ul li a:after,
nav ul li a:before {
  transition: all 0.5s;
}

.shift ul li a {
  position:relative;
  z-index: 1;
}

.shift ul li a:after 
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 1px;
  content: '.';
  color: transparent;
  background: #dbb20f;
  visibility: none;
  opacity: 0;
  z-index: -1;
} 

.shift ul li a:hover:after {
  opacity: 1;
  visibility: visible;
  height: 100%;
}

/*--------------------------------------------------------------Admin Nav-------------------------------------------------------*/
.adminNav{
  font-weight: 600;
  font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
  border-width: 2px;
}

.space{
  margin: 0.5em;
}





/*----------------------------------------------------------- for input boxes -----------------------------------------------------------------*/

caption, th, td {
  text-align: left;
  font-weight: normal;
  padding: 10px;
  vertical-align: middle;
}

/* Colors */
/* ---------------------------------------- */

#bg_image {
  background: url('../images/bookingbg.jpg');
  background-size: 100% 100%;
  opacity: 0.5;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;   
}
form {
  padding: 2em 1%;
}

.controls {
  text-align: left;
  position: relative;
}
.controls input[type="text"],
.controls input[type="number"],
.controls input[type="date"],
.controls select,
.controls button {
  padding: 12px;
  font-size: 2em;
  border: 2px solid #2b2828;
  width: 100%;
  margin-right: 10px;
  color: rgb(146, 39, 39);
  font-family: 'Lato', 'sans-serif';
  font-size: 1.5em;
  font-weight: bolder;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 100px;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  background-color: rgb(239, 247, 252);
}
.controls input[type="text"]:focus, .controls input[type="text"]:hover,
.controls input[type="number"]:focus,
.controls input[type="number"]:hover,
.controls input[type="date"]:hover,
.controls button:focus,
.controls button:hover,
.controls select:focus,
.controls select:hover {
  outline: none;
  border-color: #313030;
  background-color: rgb(239, 247, 252)
}
.controls input[type="text"]:focus + label, .controls input[type="text"]:hover + label,
.controls input[type="number"]:focus + label,
.controls input[type="number"]:hover + label,
.controls input[type="date"]:focus + label,
.controls input[type="date"]:hover + label {
  color: rgb(50, 50, 226);
  cursor: text;
}

.controls label {
  position: absolute;
  left: 8px;
  top: 12px;
  width: 60%;
  color: rgb(7, 9, 105);
  font-size: 1.2em;
  display: inline-block;
  font-weight: 400;
  background-color: rgb(239, 247, 252);
  -moz-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -o-transition: color 0.3s, top 0.3s, background-color 0.8s;
  -webkit-transition: color 0.3s, top 0.3s, background-color 0.8s;
  transition: color 0.3s, top 0.3s, background-color 0.8s;
  background-color: inherit;
}

.controls label.active {
  top: -11px;
  color: rgb(29, 3, 88);
  background-color: rgb(239, 247, 252);
  width: auto;
  border-radius: 1%;
}

.grid {
  background: inherit;
}

.grid:after {
  content: "";  
  display: table;
  clear: both;
}

[class*='col-'] {
  float: left;
  padding-right: 3%;
}

.col-2-3 {
  width: 69.66%;
}

.col-1-3 {
  width: 33.33%;
}

.col-1-2 {
  width: 50%;
}

.col-1-4 {
  width: 25%;
}

@media (max-width: 760px) {
  .col-1-4-sm, .col-1-3, .col-2-3 {
    width: 100%;
  }
}
.col-1-8 {
  width: 12.5%;
}



/* mine */
input[type=submit]{
    background-color: #fc1a1a;
    border: none;
    font-size: 2em;
    padding: 1%;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    border-radius: 0.5em;
}

#main_div {
  margin: 5% 10% 5% 10%;
  align-content: center;
  border: 2px black solid;
  border-radius: 5%;
  box-shadow: 4px 4px rgb(1, 1, 97);
  background-color: rgb(255, 255, 255);
}

h1 ,h2{
  color: rgb(247, 8, 8);
}