.loader{
    position: fixed;
    height: 100%;
    width: 100%;
    
    background: black url(../images/Preloader5.gif) center  ;
    background-size: cover;
    z-index: inherit;   

}
.wrapper{
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 999999;
}

/*---------------------------------------------------------Navbar Styling------------------------------------------------------*/

.navbar {
	background-color: rgba(8, 8, 8, 0.945);
	font-family: Verdana;
	font-size: 1rem;
  	font-weight: 400;
  	line-height: 1.5;
  	text-align: left;
  }
  .bar {
	padding-right: 10px;
	text-decoration: underline;
  }
  
  
  nav ul li {
	display: inline-block;
  }
  
  nav ul li a {
	display: block;
	padding: 10px;
	text-decoration: none;
	color: #aaa;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0 10px;
  }
  .username{
	padding-top: 0.5em;
	display: block;
	text-decoration: none;
	color: #aaa;
	font-weight: 500;
	text-transform: uppercase;
	margin: 0 10px;
  }
  nav ul li a:after,
  nav ul li a:before {
	transition: all 0.5s;
  }
  
  .shift ul li a {
	position:relative;
	z-index: 1;
  }
  
  .shift ul li a:after 
  {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 100%;
	height: 1px;
	content: '.';
	color: transparent;
	background: #dbb20f;
	visibility: none;
	opacity: 0;
	z-index: -1;
  } 
  
  .shift ul li a:hover:after {
	opacity: 1;
	visibility: visible;
	height: 100%;
  }
  
  /*--------------------------------------------------------------Admin Nav-------------------------------------------------------*/
  .adminNav{
	font-weight: 600;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	border-width: 2px;
  }
  
  .space{
	margin: 0.5em;
  }

/* for tables */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400&display=swap");


/* for background image */

body {
	background-image: url('../images/historybg.jpg');
	background-repeat: no-repeat;
	background-size: 100% 525%;
}

h1 {
	text-align: center;
	color: rgb(230, 5, 5);
	font-weight: bolder;
	font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
	text-shadow: 2px 2px rgb(10, 10, 117);
}

/* General Setup */
/* Table */

#margin_here {
	margin: 3%;
}

table {
	font-size: 1em;
	font-family: "Noto Sans KR", sans-serif;
	width: 100%;
	border-collapse: collapse;
	text-align: center;
	color: rgb(7, 7, 7);
	text-shadow: 1px 1px grey;
	border-radius: 2em;
}

thead th {
	background-color: #204051;
}

caption,thead th {
	color: #fff;
}

td{
    padding: 0.2% 0.3%; 
}

th {
	padding: 10px 5px;
}

tbody th,
tbody td {
	text-align: center;
}

tbody tr {
	border-bottom: 2px solid transparent;
}

tbody tr:hover {
	border-bottom: 2px solid #84a9ac;
}

tbody tr:nth-of-type(even) {
	background-color: #bfecbb;
}
tbody tr:nth-of-type(odd) {
	color: white;
	background-color: #16498d;
}

/* Media Queries */
@media (max-width: 320px) {
	.customer-table {
		font-size: 0.55em;
	}
}

@media (min-width: 411px) {
	.customer-table {
		font-size: 0.71875em; /*11.5px*/
	}
}

@media (min-width: 768px) {
	body {
		font-size: 1.125em; /*16px*/
	}

	caption {
		padding: 20px;
	}
}

@media (min-width: 1024px) {
	body {
		font-size: 1.25em; /*20px*/
	}
}